<div class="wrapper" *ngIf="toggleBot">
    <div class="title">Groceries 
        <!-- <mat-icon (click)="closeChatbot()" class="mat-con-cross">close</mat-icon> -->
    </div>
        <div class="box">
            <div *ngFor="let msg of messages">
                <div class="item" *ngIf="msg.css=='item'">
                    <div class="icon">
                        <mat-icon>smart_toy</mat-icon>
                    </div>
                    <div class="msg">
                        <p>{{msg.msg}}</p>
                    </div>
                </div>
                <br clear="both">
                <div class="item right" *ngIf="msg.css=='item-right'">
                    <div class="msg">
                        <p>{{msg.msg}}</p>
                    </div>
                </div>
            </div>
        </div>
    
    <div class="typing-area">
        <div class="input-field">
            <input type="text"  placeholder="Type your message" [(ngModel)]="inputMessage"  required>
            <button (click)="sendMsg()">Send</button>
        </div>
    </div>
</div>