.icon-adjust {
  position: relative;
  float: right;
  bottom: 0px;
  width: 60px;
  height: 60px;

}

.align-div-bottom {
  position: absolute;
  bottom: 0px;
  right: 30px;
}

.adjust-chatbot {
  position: absolute;
  top: 2px;
  right: 0px;
}

.image-css{
    width: 60px;
    height: 40px;
}
